body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  min-height: 100vh;
  background-color: #0099ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3CradialGradient id='a' cx='800' cy='371' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230099ff'/%3E%3Cstop offset='1' stop-color='%2304C'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='800' cy='371' r='60%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230EF' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%230EF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1600' height='900'/%3E%3Cg fill='none' stroke='%2303E' stroke-width='10' stroke-miterlimit='10' stroke-opacity='.5'%3E%3Cpolygon points='2277.4 1152 800-1407-677.4 1152'/%3E%3Cpolygon points='800-1372.9-648.8 1136.5 2248.8 1136.5'/%3E%3Cpolygon points='800-1338.8-620.2 1121.1 2220.2 1121.1'/%3E%3Cpolygon points='800-1304.7-591.6 1105.6 2191.6 1105.6'/%3E%3Cpolygon points='800-1270.6-563 1090.2 2163 1090.2'/%3E%3Cpolygon points='800-1236.5-534.4 1074.7 2134.4 1074.7'/%3E%3Cpolygon points='800-1202.4-505.8 1059.3 2105.8 1059.3'/%3E%3Cpolygon points='800-1168.3-477.2 1043.8 2077.2 1043.8'/%3E%3Cpolygon points='800-1134.2-448.6 1028.4 2048.6 1028.4'/%3E%3Cpolygon points='800-1100.1-420 1012.9 2020 1012.9'/%3E%3Cpolygon points='800-1066-391.4 997.5 1991.4 997.5'/%3E%3Cpolygon points='800-1031.9-362.7 982 1962.7 982'/%3E%3Cpolygon points='800-997.8-334.1 966.6 1934.1 966.6'/%3E%3Cpolygon points='800-963.7-305.5 951.1 1905.5 951.1'/%3E%3Cpolygon points='800-929.6-276.9 935.7 1876.9 935.7'/%3E%3Cpolygon points='800-895.5-248.3 920.2 1848.3 920.2'/%3E%3Cpolygon points='800-861.4-219.7 904.7 1819.7 904.7'/%3E%3Cpolygon points='800-827.3-191.1 889.3 1791.1 889.3'/%3E%3Cpolygon points='800-793.2-162.5 873.8 1762.5 873.8'/%3E%3Cpolygon points='800-759.1-133.9 858.4 1733.9 858.4'/%3E%3Cpolygon points='800-725-105.3 842.9 1705.3 842.9'/%3E%3Cpolygon points='800-690.9-76.7 827.5 1676.7 827.5'/%3E%3Cpolygon points='800-656.8-48.1 812 1648.1 812'/%3E%3Cpolygon points='800-622.7-19.4 796.6 1619.4 796.6'/%3E%3Cpolygon points='800-588.6 9.2 781.1 1590.8 781.1'/%3E%3Cpolygon points='800-554.5 37.8 765.7 1562.2 765.7'/%3E%3Cpolygon points='800-520.5 66.4 750.2 1533.6 750.2'/%3E%3Cpolygon points='800-486.4 95 734.8 1505 734.8'/%3E%3Cpolygon points='800-452.3 123.6 719.3 1476.4 719.3'/%3E%3Cpolygon points='800-418.2 152.2 703.9 1447.8 703.9'/%3E%3Cpolygon points='800-384.1 180.8 688.4 1419.2 688.4'/%3E%3Cpolygon points='800-350 209.4 673 1390.6 673'/%3E%3Cpolygon points='800-315.9 238 657.5 1362 657.5'/%3E%3Cpolygon points='800-281.8 266.6 642 1333.4 642'/%3E%3Cpolygon points='800-247.7 295.2 626.6 1304.8 626.6'/%3E%3Cpolygon points='800-213.6 323.9 611.1 1276.1 611.1'/%3E%3Cpolygon points='800-179.5 352.5 595.7 1247.5 595.7'/%3E%3Cpolygon points='800-145.4 381.1 580.2 1218.9 580.2'/%3E%3Cpolygon points='800-111.3 409.7 564.8 1190.3 564.8'/%3E%3Cpolygon points='800-77.2 438.3 549.3 1161.7 549.3'/%3E%3Cpolygon points='800-43.1 466.9 533.9 1133.1 533.9'/%3E%3Cpolygon points='800-9 495.5 518.4 1104.5 518.4'/%3E%3Cpolygon points='800 25.1 524.1 503 1075.9 503'/%3E%3Cpolygon points='800 59.2 552.7 487.5 1047.3 487.5'/%3E%3Cpolygon points='800 93.3 581.3 472.1 1018.7 472.1'/%3E%3Cpolygon points='800 127.4 609.9 456.6 990.1 456.6'/%3E%3Cpolygon points='800 161.5 638.5 441.2 961.5 441.2'/%3E%3Cpolygon points='800 195.6 667.2 425.7 932.8 425.7'/%3E%3Cpolygon points='800 229.7 695.8 410.2 904.2 410.2'/%3E%3Cpolygon points='800 263.8 724.4 394.8 875.6 394.8'/%3E%3Cpolygon points='800 297.9 753 379.3 847 379.3'/%3E%3Cpolygon points='800 332 781.6 363.9 818.4 363.9'/%3E%3C/g%3E%3Crect fill-opacity='.5' fill='url(%23b)' width='1600' height='900'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.form-element,
.form-container input,
#Message {
  background-color: white;
  border: 1px solid grey;
}

.app-container{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.app-header{
  background-color: white;
  border-radius: 10px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.form-element {
  width: 400px;
  height: 600px;
  border-radius: 10px;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form-container input {
  margin-bottom: 1rem;
  padding: 1rem;
}
#Message{
  display: inline-block;
  height: 150px;
  resize: none;
  margin-bottom: 1rem;
}
#actual-btn{
  border: none;
}
.app-posts-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
}
.app-posts{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
}
.posts-btns{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.posts-btns{
  display: flex;
  padding: 5px;
}
.posts-btns li{
  margin-right: 5px;
}
.posts-btns a {
  outline: none;
}
.breakClass{
  color: white;
}
.app-post{
  width: 300px;
  min-height: 450px;
  background-color: #fff;
  border-radius: 10px;
}
.post-container{
  height: 100%;
  width: 100%;
}
.top-post{
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}
.top-post p{
  margin: 0.5rem 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
}
#postImg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.btm-post{
  padding: 0.5rem 1rem;
  width: 100%;
  min-height: 250px;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btns-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btns-container button{
  background: transparent;
  border: none;
}
.top-info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.top-info-disabled{
  display: none;
}
.hidden{
  visibility: hidden;
}
.top-info button{
  display: inline-block;
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
}
.post-read-more{
  background-color: transparent;
  border: none;
}
.post-read-more:hover{
  text-decoration: underline;
}
.tag-btns{
  border: none;
  background-color: transparent;
  margin-left: -10px;
}
.tag-btns:hover{
  text-decoration: underline;
}

.modal-win{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1,1,1,0.5);
  display: grid;
  place-items: center;
  visibility: visible;
  opacity: 1;
  transition: all 1s ease-in;
  z-index: 10;
}
.modal-container{
  position: relative;
  width: 600px;
  height: 600px;
  background-color: #fff;
  display: grid;
  place-items: center;
  transition: 1s all linear;
}
.modal-img-container{
  width: 90%;
  height: 90%;
  position: relative;
}
.modal-img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-close-btn{
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
}
.showmodal {
  visibility: hidden;
  opacity: 0;
}
.auth-form{
  max-width: 400px;
  width: 100vw;
  background-color: #fff;
  display: grid;
  place-items: center;
  margin: 0 auto;
}
.auth-info{
  display: grid;
  place-items: center;
}
.auth-info-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.auth-info p{
  font-size: 2rem;
  font-weight: 500;
}
.auth-btn {
  width: 100%;
}
.auth-container{
}

.auth-container form {
  max-width: 300px;
}
.header-info{
  display: flex;
  align-items: center;
}

.profile-container{
  position: relative;
  width: 100vw;
  min-height: 400px;
}

.profile-settings{
  background-color: #fff;
  margin-bottom: 3rem;
}

.profile-additional-info{
  background-color: #fff;
}
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -45px;
}
.profile-inputs{
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.profile-forms-block {
  width: 40%;
}

@media screen and (max-width:992px) {
  .profile-inputs {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-forms-block{
    width: 100%;
  }
}

.profile-update-btn{
  width: 100%;
}

/* .profile-update-btn{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 50px;
} */

.userlist{
  width: 100%;
}

.userlist-container{
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  grid-gap: 1rem;
}

.userlist-info {
  background-color: #fff;
  height: 50px;
  margin-bottom: 3rem;
  display: grid;
  place-items: center;
}

.user-container{
  border: 1px solid black;
  border-radius: 5px;
  height: 100vh;
  width: 100vw;
  max-width: 200px;
  max-height: 200px;
  background-color: white;
}
.user-img-container{
  border: 1px solid red;
  height: 80%;
  margin: 0.2rem;
}
.user-img{
  width: 100%;
  height: 100%;
}
.user-name{
  text-align: center;
}
.user-name a{
  color: black;
}

.profile-visit{
  border: 1px solid red;
  width: 100vw;
  height: 100vh;
}
.profile-visit-container{
  display: flex;
  justify-content: space-between;
}
.profile-visit-img-container{
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.profile-visit-img{
  border-radius: 50%;
  width: 100%;
  max-width: 150px;
  max-height: 150px;
}
.profile-visit-info-container{
  width: 65%;
  background-color: white;
}